<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <!--CONTROLLERS-->
    <!--product -->
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.ProductControllerExternalTx</servlet-class>
        <!--<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/appContext-dao.xml</param-value>
        </init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/product.do</url-pattern>
    </servlet-mapping>

    <!--allProduct -->
    <servlet>
        <servlet-name>ProductAllController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.ProductAllController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductAllController</servlet-name>
        <url-pattern>/productAll.do</url-pattern>
    </servlet-mapping>

    <!--InsertNewProduct-->
    <servlet>
        <servlet-name>ProductInsertNewController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.ProductInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductInsertNewController</servlet-name>
        <url-pattern>/productInsertNew.do</url-pattern>
    </servlet-mapping>

    <!--RemoveProduct-->
    <servlet>
        <servlet-name>ProductRemoveController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.ProductRemoveController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductRemoveController</servlet-name>
        <url-pattern>/productRemove.do</url-pattern>
    </servlet-mapping>

    <!--productAddToBuckets -->
    <servlet>
        <servlet-name>productAddToBucketController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.ProductAddToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productAddToBucketController</servlet-name>
        <url-pattern>/productAddToBucket.do</url-pattern>
    </servlet-mapping>

    <!--productRemoveFromBuckets -->
    <servlet>
        <servlet-name>productRemoveFromBucketController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.ProductRemoveFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productRemoveFromBucketController</servlet-name>
        <url-pattern>/productRemoveFromBucket.do</url-pattern>
    </servlet-mapping>

    <!--productRemoveAllFromBuckets -->
    <servlet>
        <servlet-name>productRemoveAllFromBucketController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.ProductRemoveAllFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productRemoveAllFromBucketController</servlet-name>
        <url-pattern>/productRemoveAllFromBucket.do</url-pattern>
    </servlet-mapping>

    <!--USER CONTROLLERS-->
    <!--userRegisterController -->
    <servlet>
        <servlet-name>userRegistrationController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.UserRegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userRegistrationController</servlet-name>
        <url-pattern>/userRegistration.do</url-pattern>
    </servlet-mapping>
    <!--userLoginController-->
    <servlet>
        <servlet-name>userLoginController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.UserLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLoginController</servlet-name>
        <url-pattern>/userLogin.do</url-pattern>
    </servlet-mapping>
    <!--userLogoutController-->
    <servlet>
        <servlet-name>userLogoutController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.UserLogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogoutController</servlet-name>
        <url-pattern>/userLogout.do</url-pattern>
    </servlet-mapping>

    <!--mock -->
    <servlet>
        <servlet-name>mockController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.demo.DemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mockController</servlet-name>
        <url-pattern>/mock.do</url-pattern><!--по такому URL будет отвечать mockController-->
    </servlet-mapping>
    <!--mvcMockController-->
    <servlet>
        <servlet-name>mvcMockController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.demo.MVCDemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvcMockController</servlet-name>
        <url-pattern>/mvcMock.do</url-pattern>
    </servlet-mapping>
    <!--sessionMockController-->
    <servlet>
        <servlet-name>sessionMockController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.demo.SessionDemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionMockController</servlet-name>
        <url-pattern>/sessionMock.do</url-pattern>
    </servlet-mapping>
    <!--cookiesMockController-->
    <servlet>
        <servlet-name>cookiesMockController</servlet-name>
        <servlet-class>net.evdokimov.eshop.controller.demo.CookiesDemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookiesMockController</servlet-name>
        <url-pattern>/cookiesMock.do</url-pattern>
    </servlet-mapping>

    <!--FILTERS-->

    <!--userManagerSessionFilter-->
    <filter>
        <filter-name>userManagerSessionFilter</filter-name>
        <filter-class>net.evdokimov.eshop.filter.UserManagerSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userManagerSessionFilter</filter-name>
        <url-pattern>/userManagerSession.do</url-pattern>
    </filter-mapping>
    <!--userCustomerSessionFilter-->
    <filter>
        <filter-name>userCustomerSessionFilter</filter-name>
        <filter-class>net.evdokimov.eshop.filter.UserCustomerSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userCustomerSessionFilter</filter-name>
        <url-pattern>/userCustomerSession.do</url-pattern>
    </filter-mapping>

    <!--processing time-->
    <filter>
        <filter-name>timeFilter</filter-name>
        <filter-class>net.evdokimov.eshop.filter.ProcessingTimeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>timeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--request info-->
    <filter>
        <filter-name>infoFilter</filter-name>
        <filter-class>net.evdokimov.eshop.filter.RequestInfoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>infoFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <dispatcher>REQUEST</dispatcher><!--???-->
    </filter-mapping>
    <!--  -->
    <filter>
        <filter-name>attributesToSessionFilter</filter-name>
        <filter-class>net.evdokimov.eshop.filter.AddAttributesToSessionFilter</filter-class>
        <!--статическая мапа-->
        <init-param>
            <param-name>filter-param-name-A</param-name>
            <param-value>filter-param-value-A</param-value>
        </init-param>
        <init-param>
            <param-name>filter-param-name-B</param-name>
            <param-value>filter-param-value-B</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>attributesToSessionFilter</filter-name>
        <servlet-name>mockController</servlet-name>
    </filter-mapping>

    <!--LISTENERS-->
    <listener>
        <listener-class>net.evdokimov.eshop.listener.MyServletContextListener</listener-class>
    </listener>

    <!--по ключу 'contextConfigLocation' из ServletContext мы-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/appContext-dao-aop-schema.xml</param-value>
        <!--<param-value>/appContext-dao-external-tx.xml</param-value>-->
    </context-param>

    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>productAll.do</welcome-file>
    </welcome-file-list>

</web-app>
